{% extends "public/base.html" %}


{% block public_content %}
<div class="col-sm-10 col-md-8 col-lg-6 mx-auto pb-5 p-0">
   <h2 class="text-center mb-4"> shortcut2.work </h2>
   <form>
     <div class="input-group border">
        <input type="text" class="form-control border-0 shadow-none" name="x" placeholder="Enter job keywords...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="fa fa-search"></span>
            </button>
        </span>
    </div>
  </form>
</div>
{% endblock %}
